{% load static %}
<html>
<div class="bgnd-2">
<head>
    <title>P&K</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static '/js/scripts.js' %}"></script>
</head>
<body>

    <div class="page-header">
        <h1><a href="/">Hej</a></h1>
        <button onClick="alert('You clicked the button using Javascript.');">
            Click Me - I run Javascript
        </button>
        <button id="about-btn"> Click Me - I'm Javascript</button>
        <p>This is an example</p>
        <p>This is another example</p>
    </div>
    {% block content %}
    {% endblock %}


</body>
</div>
</html>