{% load static %}
<html>

    <head>
        <title>P&K</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">P&K</a></h1>
        </div>





<div class="content container" style="width:100%">

    <div class="row">

            {% for post in posts %}
        <div class="parallax"> </div>
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>

            {% endfor %}
        </div>
    </div>
</div>
    </body>
</html>